<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
   
    
   <h3>you are logged in as {{ username }}</h3>
    <ol>
        <li> hvað er cookies: eru lítil skjöl sem geyma upplysíngar um þig á síðum sem það finnur úr tölvuni þinni og settur síðuna upp með auglysingum beynt á þér</li>
        <li> hvað er session: er svipað og cookies en notandinn getur ekki breyt upplysingum þar nema þeir viti leyni lykilinn sem var setur en allt er eytt út eftir dag</li>
        <li> hvað er cache: eru gögn sem eru geymd í tölvuni og síðunum það er notað á öllum wefrunum og nær í síður fyrir þig</li>
    </ol>
    <p><a href="/logout" class="butt">Útskrá</a></p>
</body>
</html>
